*{
  padding: 0;
  margin: 0;
}
:root {
  --main-font: "Poppins", sans-serif;
  --secondary-font: "Playfair Display", serif;
  --primary-color: #f9f7fe;
  --secondary-color: #6c63ff;
  --font-color: #272142;
}

h1 {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 96px;
  color:black;
  margin-bottom: 20px;
}

.hero {
  background-color: #f9f7fe;
  text-align: center;
  color: var(--font-color);
  padding: 160px 20px;

}
.hero p {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 0;
}
.hero h2 {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 24px;
}
.hero a {
  background-color: var(--secondary-color);
  padding: 18px 30px;
  color: white;
  font-size: 20px;
  margin-top: 36px;
}
